$block: '.documentation';
$documentation-margin: em(40);
#{$block} {
    margin-left: -$documentation-margin;
    margin-right: -$documentation-margin;
    &__inner {
        display: table;
        border-spacing: $documentation-margin 0;
        border-collapse: separate;
        width: 100%;
    }


    &__headline,
    &__text {
        color: $color-white;
    }
    &__button {
        position: absolute;
        bottom: em(25);
        width: 100%;
        text-align: center;
        left: 0;

    }
    &__box {
        display: table-cell;
        padding-bottom: em(100);
        vertical-align: top;
        background: $hobexDarkGrey;
        position: relative;
        &__inner {
            padding: .5em;
        }
    }
    &__text {
        max-width: 18em;
        padding-top: 0em;
    }
}