$block: '.faq';
#{$block} {
    max-width: 44.44444em;
    &__item {
        // padding-top: 1.11111em;
        // padding-bottom: 2.22222em;
        border-bottom: 1px solid #e6ebef;
        h3 {
            position: relative;
            @include icon("arrow-down", after);
            &:after {
                position: absolute;
                right: 1%;
                top: 0.5em;
                color: red;
                font-size: em(10);
            }
        }
    }
    .active {
        background: #e6ebef;
        h3 {
            &:after {
                transform: rotate(180deg);
            }
        }
    }
    .js-accordion__item {
        transition: all 0.3s;
        padding: 0.9em 0.8em 0.3em 0.8em;
        &__text {
            display: none;
            margin-top: 1em;
        }
    }
    .show {
        display: block;
    }
    .js-accordion__item:hover {
        background: #e6ebef;
        cursor: pointer;
    }
}
