$block: '.intro';
#{$block} {
    margin-top: rem(60);
    margin-bottom: rem(60);
    text-align: center;
    a {
        display: block;
        max-width: 23em;
        margin: 0 auto;
        margin-top: em(30);
        &:hover {
            color: $color-white;
        }
    }
    &__text {
        margin: 0 auto;
    }
    &__logos {
        display: none;
    }
    @include mq($from: screen-sm) {
        &__logos {
            display: inline;
        }
    }
}