$block: '.intro';
#{$block} {
    margin-top: 3.5rem;
    margin-bottom: rem(60);
    text-align: center;
    a {
        display: block;
        max-width: 23em;
        margin: 0 auto;
        margin-top: 1.2em;
        &:hover {
            color: $color-white;
        }
    }
    &__text {
        margin: 0 auto;
        padding-top: 1.5em;
        p {
            margin-bottom: 1em;
        }
    }
    &__logos {
        width: 100%;
        max-width: 32em;
    }
}

.hidden {
    display: none;
}