    $block: '.partner';
    #{$block} {
    max-width: $width-max-container-text;
    // max-width: 67em;
    margin: rem(90) auto;
        &__break-one {
            display: inline;
        }
        &__title {
            margin-bottom: .75em;
        }
        &__inner {
            text-align: center;
            display: inline-block;
            width: 49%;
            border-style: solid;
            border-color: #e6ebef;
            border-image: none;
            border-width: 0px 1px 1px 0px;
            img {
                max-width: 150px;
                max-height: 100px;
            }
        }
        @include mq($from: screen-xs) {
            &__break-one {

                display: none;
            }
            &__inner {
                width: 32%;
            }
        }
        @include mq($from: screen-sm) {
            &__inner {
                width: 24%;
            }
            &__break-two {

                display: none;
            }
        }
    }