$block: '.products';
#{$block} {
    text-align: center;
    margin-left: -2em;
    margin-right: -2em;
    &__button {
        padding-top: 1.5em;
        padding-bottom: 1.5em;
    }
    &__box {
        margin-top: 4em;
        vertical-align: top;
        display: inline-block;
        width: 32% height: auto;
        padding-left: 1em;
        padding-right: 1em;
        &__inner {
            background: $hobexGrey;
            padding: .5em;
        }
    }
    &__text {
        max-width: 12em;
        height: 12em;
    }

    @include mq($from: $screen-xl - 90px) {
        width: 24%;
    }
}


}