$block: '.slider';
#{$block} {
    &__slide {
        &__image {
            padding-bottom: 37.5%;
            background: $hobexDark;
        }
        &__headline,
        &__text {
            color: $color-white;
        }
    }
}