$block: '.slider';
#{$block} {
    &__slide {
        &__image {
            padding-bottom: 37.5%;
            background: $hobexDark;
                background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
        }
        &__text {
            color: $color-white;
            text-align: center;
        }
        &__headline {
            text-align: center;
            padding-top: 1em;
        }
    }
}