$block: '.bg-image';
#{$block} {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    &--contain {
        background-size: contain;
    }
    &--pattern {
        background-repeat: repeat;
        background-size: initial;
    }
}
