$block: '.btn';
#{$block} {
    color: $color-white;
    background: $brand-primary;
    font-family: $font-normal;
    font-size: em(24);
    font-weight: bold;
    text-transform: uppercase;
    border-radius: .25em;
    padding: em(15);
    display: inline-block;
    &--medium {
        @include mq($from: $screen-md + 150px) {
            padding: 1em 3.9em;
        }
        font-size: 1.3em;
    }
    &--small {
        padding: em(12) em(30);
        font-size: em(18);
    }
}