$block: ".section";
#{$block} {
    position: relative;
    z-index: 1;
    &--fullwidth {
        #{$block}__content {
            max-width: none;
            padding-left: 0;
            padding-right: 0;
        }
    }

    &--margin {
        // margin: rem(60) 0;
        margin: 4rem 0;
    }
    &--padding {
        padding: rem(60) 0;
    }
    &__content {
        margin: 0 auto;
        padding-left: $mobile-padding;
        padding-right: $mobile-padding;
        box-sizing: content-box;
        max-width: $width-max-container;
        @include mq($from: screen-xs) {
            padding-right: $side-padding;
            padding-left: $side-padding;
        }
        @include clearfix;
        &--inner {
            max-width: em($width-max-container-text);
        }
    }
    &__content-inner {
        max-width: em($width-max-container-text);
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    &--intro {
        background: $hobexGrey;
    }

    &--dark {
        background: $hobexDark;
        color: $color-white;
    }
}

#{$block}-container {
    position: relative;
}