$block: '.site-header';
#{$block} {
    position: fixed;
    z-index: 10;
    background: $color-white;
    width: 100%;
    height: $height-header;
    @include mq($until: width-mobile-menu) {
        height: auto;
    }
    top: 0;
    &__inner {
        position: relative;
        @include clearfix;
    }
    &__left {
        float: left;
    }
    &__right {
        float: right;
        padding-right: 8em;
    }
    &__lang-switch {
        position: absolute;
        right: .5em;
        top: 3.2em;
        display: none;
        z-index: 100;
        font-size: 12px;
        @include mq($from: width-mobile-menu) {
            display: block;
        }
    }
}
