$block: '.site-footer';
#{$block} {
    &__table {
        position: relative;
        width: 100%;
        margin-top: 0.75em;
        margin-bottom: 2.75em;
    }
    &__nav {

        vertical-align: bottom;
    }
    &__logo {

        width: 100%;
        margin-top: 1em;
        max-width: 32em;
    }
    @include mq($from: screen-sm) {
        text-align: center;
        &__table {
            margin-top: 2em;
        }
        ul li {
            display: inline;
            padding-left: .5em;
        }
        &__logo {
            margin: 1em auto;
        }
    }
    @include mq($from: $screen-lg + 150) {
        text-align: left;
        &__table {
            display: table;
        }
        &__nav {
            display: table-cell;
        }
        &__logo {
            position: absolute;
            right: 0;
            margin: 0;
        }
    }
}