$block: '.site-navigation';
#{$block} {
    margin-top: 2.5em;
    margin-right: 1em;
    &__nav {
        margin-right: -5em;
    }
    ul {
        width: 25em;
    }
    ul li {
        margin: 0;
        padding-left: 1em;
        padding-bottom: 2.75em;
        float: right;
        text-transform: uppercase;
        font: em(16) $font-normal;
        font-weight: 400;
        @include clearfix;
    }
    @include mq($until: width-mobile-menu) {
        display: none;
    }
}