$block: '.site-footer';
#{$block} {
    &__table {
        position: relative;
        display: table;
        width: 100%;
        margin-top: 0.75em;
        margin-bottom: 2.75em;
    }
    &__nav  {
        display: table-cell;
        vertical-align: bottom;
    }
    &__logo {
        position: absolute;
        right: 0;
    }
    ul li {
        display: inline;
        padding-left: .5em;
    }
    nav {
        display: table-cell;
    }
}