@font-face {
    font-family: 'Klavika';
    src: url('../fonts/klavika/eot/KlavikaWebBasicBold.eot?-on8uk1');
    src: url('../fonts/klavika/eot/KlavikaWebBasicBold.eot?#iefix-on8uk1') format('embedded-opentype'), url('../fonts/klavika/woff/KlavikaWebBasicBold.woff?-on8uk1') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika';
    src: url('../fonts/klavika/eot/KlavikaWebBasicBoldItalic.eot?-on8uk1');
    src: url('../fonts/klavika/eot/KlavikaWebBasicBoldItalic.eot?#iefix-on8uk1') format('embedded-opentype'), url('../fonts/klavika/woff/KlavikaWebBasicBoldItalic.woff?-on8uk1') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Klavika';
    src: url('../fonts/klavika/eot/KlavikaWebBasicRegular.eot?-on8uk1');
    src: url('../fonts/klavika/eot/KlavikaWebBasicRegular.eot?#iefix-on8uk1') format('embedded-opentype'), url('../fonts/klavika/woff/KlavikaWebBasicRegular.woff?-on8uk1') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Klavika';
    src: url('../fonts/klavika/eot/KlavikaWebBasicRegularItalic.eot?-on8uk1');
    src: url('../fonts/klavika/eot/KlavikaWebBasicRegularItalic.eot?#iefix-on8uk1') format('embedded-opentype'), url('../fonts/klavika/woff/KlavikaWebBasicRegularItalic.woff?-on8uk1') format('woff');
    font-weight: normal;
    font-style: italic;
}
